## Initialization

Q0) Install Python, NumPy, Pandas, Matplotlib and Seaborn

In [4]:
import numpy as np
import pandas as pd
import matplotlib as mpl 
import matplotlib.pyplot as plt
import seaborn as sns

Q1) What's the version of NumPy

In [2]:
np.__version__

'1.19.5'

Q2) What's the version of Panda

In [3]:
pd.__version__

'1.3.2'

## Get the dataset for following questions

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-08 17:31:01--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  2.79MB/s    in 0.5s

2021-09-08 17:31:03 (2.79 MB/s) - ‘data.csv’ saved [1475504/1475504]

## Import and explore the the dataset

In [39]:
df = pd.read_csv('data.csv')

print("Index:   ", df.index)
print("Columns: ", df.columns)
print("First 10 rows: \n")
df.head()

Index:    RangeIndex(start=0, stop=11914, step=1)
Columns:  Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')
First 10 rows:

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [28]:
print("Number of different inputs for each column: \n",df.nunique())


print("Market Categories: \n",df["Market Category"].unique())

Number of different inputs for each column:
 Make                   48
Model                 915
Year                   28
Engine Fuel Type       10
Engine HP             356
Engine Cylinders        9
Transmission Type       5
Driven_Wheels           4
Number of Doors         3
Market Category        71
Vehicle Size            3
Vehicle Style          16
highway MPG            59
city mpg               69
Popularity             48
MSRP                 6049
dtype: int64
Brands:
 ['BMW' 'Audi' 'FIAT' 'Mercedes-Benz' 'Chrysler' 'Nissan' 'Volvo' 'Mazda'
 'Mitsubishi' 'Ferrari' 'Alfa Romeo' 'Toyota' 'McLaren' 'Maybach'
 'Pontiac' 'Porsche' 'Saab' 'GMC' 'Hyundai' 'Plymouth' 'Honda'
 'Oldsmobile' 'Suzuki' 'Ford' 'Cadillac' 'Kia' 'Bentley' 'Chevrolet'
 'Dodge' 'Lamborghini' 'Lincoln' 'Subaru' 'Volkswagen' 'Spyker' 'Buick'
 'Acura' 'Rolls-Royce' 'Maserati' 'Lexus' 'Aston Martin' 'Land Rover'
 'Lotus' 'Infiniti' 'Scion' 'Genesis' 'HUMMER' 'Tesla' 'Bugatti']
Market Categories:
 ['Factory Tuner,Luxury,High-Performance' 'Luxury,Performance'
 'Luxury,High-Performance' 'Luxury' 'Performance' 'Flex Fuel'
 'Flex Fuel,Performance' nan 'Hatchback' 'Hatchback,Luxury,Performance'
 'Hatchback,Luxury' 'Luxury,High-Performance,Hybrid' 'Diesel,Luxury'
 'Hatchback,Performance' 'Hatchback,Factory Tuner,Performance'
 'High-Performance' 'Factory Tuner,High-Performance'
 'Exotic,High-Performance' 'Exotic,Factory Tuner,High-Performance'
 'Factory Tuner,Performance' 'Crossover' 'Exotic,Luxury'
 'Exotic,Luxury,High-Performance' 'Exotic,Luxury,Performance'
 'Factory Tuner,Luxury,Performance' 'Flex Fuel,Luxury' 'Crossover,Luxury'
 'Hatchback,Factory Tuner,Luxury,Performance' 'Crossover,Hatchback'
 'Hybrid' 'Luxury,Performance,Hybrid'
 'Crossover,Luxury,Performance,Hybrid' 'Crossover,Luxury,Performance'
 'Exotic,Factory Tuner,Luxury,High-Performance'
 'Flex Fuel,Luxury,High-Performance' 'Crossover,Flex Fuel' 'Diesel'
 'Hatchback,Diesel' 'Crossover,Luxury,Diesel'
 'Crossover,Luxury,High-Performance'
 'Exotic,Flex Fuel,Factory Tuner,Luxury,High-Performance'
 'Exotic,Flex Fuel,Luxury,High-Performance'
 'Exotic,Factory Tuner,Luxury,Performance' 'Hatchback,Hybrid'
 'Crossover,Hybrid' 'Hatchback,Luxury,Hybrid'
 'Flex Fuel,Luxury,Performance' 'Crossover,Performance' 'Luxury,Hybrid'
 'Crossover,Flex Fuel,Luxury,Performance' 'Crossover,Flex Fuel,Luxury'
 'Crossover,Flex Fuel,Performance'
 'Hatchback,Factory Tuner,High-Performance' 'Hatchback,Flex Fuel'
 'Factory Tuner,Luxury' 'Crossover,Factory Tuner,Luxury,High-Performance'
 'Crossover,Factory Tuner,Luxury,Performance'
 'Crossover,Hatchback,Factory Tuner,Performance'
 'Crossover,Hatchback,Performance' 'Flex Fuel,Hybrid'
 'Flex Fuel,Performance,Hybrid' 'Crossover,Exotic,Luxury,High-Performance'
 'Crossover,Exotic,Luxury,Performance' 'Exotic,Performance'
 'Exotic,Luxury,High-Performance,Hybrid' 'Crossover,Luxury,Hybrid'
 'Flex Fuel,Factory Tuner,Luxury,High-Performance' 'Performance,Hybrid'
 'Crossover,Factory Tuner,Performance' 'Crossover,Diesel'
 'Flex Fuel,Diesel' 'Crossover,Hatchback,Luxury']

## Q3) What's the average price of BMW cars in the dataset?

In [40]:
# Be sure that there isn't any typo (bmw,BMw,etc.) in brand names:
df.Make.unique()

# Then calculate the average price:

df[df["Make"]=="BMW"].MSRP.mean()

61546.76347305389

## Q4) Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [57]:
df2 = df[df["Year"] >= 2015]
df2["Engine HP"].isnull().sum()

51

## Q5)
- Calculate the average "Engine HP" in the dataset.
- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?

In [64]:
mean_hp_before = df["Engine HP"].mean()
print("Mean if NaN values are excluded \n (as default action of mean() function:", round(mean_hp_before))

mean_hp_after = df["Engine HP"].fillna(value= mean_hp_before).mean()
print("Mean if NaN values are replaced with mean_hp_before", round(mean_hp_after))

# Compare the results:


print("Is the average same:" , round(mean_hp_before)==round(mean_hp_after) )

Mean if NaN values are excluded
 (as default action of mean() function: 249
Mean if NaN values are replaced with mean_hp_before 249
Is the average same: True

## Q6)
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- What's the sum of all the elements of the result?

In [90]:
from numpy.linalg import inv

df3 = df[df["Make"]=="Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates()

X = df3.to_numpy()

XT = X.T

XTX = X.T.dot(X)

print(inv(XTX).sum())

0.032212320677486125

## Q7
- Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [98]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

w = inv(XTX).dot(X.T).dot(y)

print(w[0])

0.19989598183188978