The link for the original Assignment1 document by Alexey Grigorev:

https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/homework.md

## Initialization

Q0) Install Python, NumPy, Pandas, Matplotlib and Seaborn

In [99]:
import numpy as np
import pandas as pd
import matplotlib as mpl 
import matplotlib.pyplot as plt
import seaborn as sns

## Q1) What's the version of NumPy

In [100]:
np.__version__

'1.19.5'

## Q2) What's the version of Panda

In [102]:
pd.__version__

'1.3.2'

## Get the dataset for following questions

In [ ]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

## Import and explore the the dataset

In [107]:
df = pd.read_csv('data.csv')

print("Index:   ", df.index)
print("\nColumns: ", df.columns)
print("\n First 5 rows: \n")
df.head()

Index:    RangeIndex(start=0, stop=11914, step=1)

Columns:  Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

 First 5 rows:

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [109]:
print("Number of different inputs for each column: \n",df.nunique()) #just as an example

Number of different inputs for each column:
 Make                   48
Model                 915
Year                   28
Engine Fuel Type       10
Engine HP             356
Engine Cylinders        9
Transmission Type       5
Driven_Wheels           4
Number of Doors         3
Market Category        71
Vehicle Size            3
Vehicle Style          16
highway MPG            59
city mpg               69
Popularity             48
MSRP                 6049
dtype: int64

## Q3) What's the average price of BMW cars in the dataset?

In [121]:
# Be sure that there isn't any typo (bmw,BMw,etc.) in brand names:
print(df.Make.unique())    # there isn't any!

# Then calculate the average price:
BMW_avg_price = df[df["Make"]=="BMW"].MSRP.mean()

print(f"\n\nThe average price of BMWs in the datasaet: {BMW_avg_price:2.7}")

['BMW' 'Audi' 'FIAT' 'Mercedes-Benz' 'Chrysler' 'Nissan' 'Volvo' 'Mazda'
 'Mitsubishi' 'Ferrari' 'Alfa Romeo' 'Toyota' 'McLaren' 'Maybach'
 'Pontiac' 'Porsche' 'Saab' 'GMC' 'Hyundai' 'Plymouth' 'Honda'
 'Oldsmobile' 'Suzuki' 'Ford' 'Cadillac' 'Kia' 'Bentley' 'Chevrolet'
 'Dodge' 'Lamborghini' 'Lincoln' 'Subaru' 'Volkswagen' 'Spyker' 'Buick'
 'Acura' 'Rolls-Royce' 'Maserati' 'Lexus' 'Aston Martin' 'Land Rover'
 'Lotus' 'Infiniti' 'Scion' 'Genesis' 'HUMMER' 'Tesla' 'Bugatti']


The average price of BMWs in the datasaet: 61546.76

## Q4) Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [123]:
df2 = df[df["Year"] >= 2015]
hp_after2015 = df2["Engine HP"].isnull().sum()

print(f"Number of missing values in \"Engine HP\" after 2015: {hp_after2015}")

Number of missing values in "Engine HP" after 2015: 51

## Q5)
- Calculate the average "Engine HP" in the dataset.
- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?

In [125]:
mean_hp_before = df["Engine HP"].mean()
print("Mean if NaN values are excluded \n (as default action of mean() function:", round(mean_hp_before))

mean_hp_after = df["Engine HP"].fillna(value= mean_hp_before).mean()
print("Mean if NaN values are replaced with mean_hp_before", round(mean_hp_after))

# Compare the results:
print(f"Are the average values same: {round(mean_hp_before)==round(mean_hp_after)}"  )

Mean if NaN values are excluded
 (as default action of mean() function: 249
Mean if NaN values are replaced with mean_hp_before 249
Are the average values same: True

## Q6)
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- What's the sum of all the elements of the result?

In [136]:
from numpy.linalg import inv
condition = df["Make"]=="Rolls-Royce"

column_list = ["Engine HP", "Engine Cylinders", "highway MPG"]
df3 = df[condition][column_list].drop_duplicates()

X = df3.to_numpy()

XTX = X.T.dot(X)

print(f"The sum of all the elements of the result: {inv(XTX).sum():2.3}")

The sum of all the elements of the result: 0.0322

## Q7
- Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [140]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

w = inv(XTX).dot(X.T).dot(y)

print(f"The first element of the w: {w[0]:2.4}")

The first element of the w: 0.1999